/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Typography CSS */

html,
body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height: 100%;
	color: #565656;
}
body {
	font-size: 14px;
	line-height: 1.4;
}
a {
	color: #8FC800;
	cursor: pointer;
}
a:hover,
a:focus,
a:active {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #8FC800;
}
h1 {
	margin-bottom: 18px;
	font-size: 24px;
}
h2 {
	margin-bottom: 16px;
	font-size: 20px;
}
h3 {
	margin-bottom: 14px;
	font-size: 18px;
}
h4 {
	margin-bottom: 12px;
	font-size: 16px;
}
h5 {
	margin-bottom: 10px;
	font-size: 15px;
}
h6 {
	margin-bottom: 8px;
	font-size: 14px;
}
p {
	margin-bottom: 8px;
}
img {
	display: block;
	max-width: 100%;
}
a.button {
	line-height: 32px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	background: none #fff;
	padding: 0 12px;
	border-radius: 20px;
	border: 1px solid #8FC800;
	box-shadow: 0 0 10px -1px rgba(70,70,70,0.3);
}

/* Layout Styles */

* {
	box-sizing: border-box;
}
.main-wrapper {
	max-width: 1024px;
	margin: 0 auto;
	background: rgb(255,255,255);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
	background-attachment: fixed;
	background-size: 100% 100%;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 840px;
	padding: 20px;
}
.clearfix:after {
	content: '';
	width: 100%;
	height: 0;
	clear: both;
	float: none;
	padding: 0;
	margin: 0;
	display: block;
}

/* Theme Styles */

body {
	background: none #ccc;
}

header {
	background: rgb(143,200,0);
	background: -moz-radial-gradient(center, ellipse cover, rgba(143,200,0,1) 0%, rgba(143,200,0,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=1 );
	padding: 10px 0;
	text-align: center;
	box-shadow: 0px 6px 15px -6px rgba(70,70,70,0.3);
	position: relative;
	z-index: 10;
}
header h1 {
	font-size: 52px;
	text-shadow: 0 0 12px rgba(70,70,70,0.3);
	margin: 0;
	color: #fff;
}

.main-container .static-map-wrapper #static-map {
	display: none;
}
.main-container .atms-list-wrapper {
	padding: 15px 25px;
	background: none #fff;
	border-radius: 20px;
	box-shadow: 0 0 20px 2px rgba(70,70,70,0.3);
	margin-bottom: 20px;
}
.main-container .atms-list-wrapper nav {
	margin: 8px 0;
	position: relative;
	background: none #eee;
	border-radius: 16px;
}
.main-container .atms-list-wrapper nav a.sorter-button {
	float: left;
	position: relative;
	padding-right: 20px;
}
.main-container .atms-list-wrapper nav a.sorter-button span:after {
	display: block;
	content: '';
	height: 0;
	width: 0;
	border-top: 8px solid #8FC800;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	position: absolute;
	right: 8px;
	top: 2px;
	bottom: 0;
	margin: auto 0;
}
.main-container .atms-list-wrapper nav a.sorter-button span#desc:after {
	border-top: 0 none;
	border-bottom: 8px solid #8FC800;
}
.main-container .atms-list-wrapper nav a.filter-button {
	float: right;
}
.main-container .atms-list-wrapper ul,
.main-container .atms-list-wrapper ul li {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
.main-container .atms-list-wrapper ul li {
	border-bottom: 1px solid #8FC800;
	padding: 8px 4px;
}
.main-container .atms-list-wrapper ul li:last-child {
	border: 0 none;
}
.main-container .atms-list-wrapper ul li h3 {
	margin: 0;
	font-weight: normal;
}
.main-container .atms-list-wrapper ul li h3 span {
	font-family: arial;
	font-style: italic;
	color: #565656;
	font-size: 15px;
}
.main-container .static-map-wrapper {
	padding: 25px;
	background: none #eee;
	border-radius: 20px;
	box-shadow: 0 0 20px 2px rgba(70,70,70,0.3);
}

.main-container .static-map-wrapper .map-legend {
	margin: 0 auto;
	max-width: 640px;
	padding-top: 8px;
}
.main-container .static-map-wrapper ul,
.main-container .static-map-wrapper ul li {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
.main-container .static-map-wrapper ul {
	text-align: right;
}
.main-container .static-map-wrapper ul li {
	display: inline-block;
	padding: 0 12px;
	position: relative;
	padding-left: 24px;
}
.main-container .static-map-wrapper ul li:after {
	content: '';
	position: absolute;
	display: block;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: none #19c539;
	left: 4px;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.main-container .static-map-wrapper ul li.blue:after {
	background-color: #1698fb;
}
.main-container .static-map-wrapper ul li.red:after {
	background-color: #c31c1c;
}
.main-container .static-map-wrapper ul li:last-child {
	padding-right: 0;
}
.main-container .static-map-wrapper img {
	margin: 0 auto;
	border: 2px solid #ccc;
	border-radius: 6px;
}

footer {
	background: none #333;
	text-align: center;
	color: #fff;
}

.welcome-wrapper {
	position: fixed;
	overflow: hidden;
	z-index: 50;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../images/bgr.jpg") center center no-repeat #000;
	background-size: 100%;
	transition: height 1s, opacity 1s;
}
.welcome-wrapper.hidden {
	opacity: 0;
	height: 0;
}
.welcome-wrapper .wlc-table {
	width: 100%;
	height: 300px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 640px;
	position: absolute;
	background: -moz-radial-gradient(center, ellipse cover, rgba(51,51,51,0.65) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(51,51,51,0.65) 0%,rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center, rgba(51,51,51,0.65) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6333333', endColorstr='#00ffffff',GradientType=1 );
}
.welcome-wrapper .wlc-table .wlc-cnt {
	display: table;
	height: 300px;
	width: 100%;
}
.welcome-wrapper .wlc-table .wlc-cnt .wlc-text {
	display: table-cell;
	vertical-align: middle;
	font-size: 32px;
	text-align: center;
	color: #fff;
}
.welcome-wrapper .wlc-table .wlc-cnt .wlc-text strong {
	font-weight: bold;
	color: #8FC800;
}

@media screen and (max-width: 767px) {
	header h1 {
		font-size: 28px;
	}
	.container {
		padding: 10px;
	}
	.main-container .atms-list-wrapper nav {
		padding: 8px;
	}
	.main-container .atms-list-wrapper nav a.sorter-button {
		margin-bottom: 10px;
	}
	.main-container .atms-list-wrapper nav a.sorter-button,
	.main-container .atms-list-wrapper nav a.filter-button {
		float: none;
		display: block;
		width: 100%;
	}
	.main-container .static-map-wrapper ul li {
		display: block;
		text-align: left;
	}
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
	header h1 {
		font-size: 36px;
	}
}